<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="images.css" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="https://www.w3schools.com/howto/img_nature_wide.jpg"
      alt="Nature"
      class="responsive-img"
    />
    <img
      src="https://images.news18.com/ibnlive/uploads/2021/02/1612331392_virat-kohli-india-flag.jpg"
      alt="Nature"
      class="round-image"
    />
  </body>
</html>
