<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="grid.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 style="text-align: center">Two items in a grid</h1>
      <div class="wrapper2">
        <div class="g1-color2">one</div>
        <div class="g2-color2">Two</div>
      </div>
      <br />
      <hr />
      <h1 style="text-align: center">Three items in a grid</h1>
      <div class="wrapper3">
        <div class="g1-color">one</div>
        <div class="g2-color">Two</div>
        <div class="g3-color">Three</div>
      </div>
    </div>
  </body>
</html>
