.basic-input-box {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  width: 250px;
  font-size: xx-large;
  border-radius: 10px;
  color: inherit;
}
.basic-input-label {
  font-size: xx-large;
}
.error-input-label {
  font-size: xx-large;
}
.error-input-box {
  border: 1px solid red;
  height: 50px;
  text-align: center;
  width: 250px;
  font-size: xx-large;
  border-radius: 10px;
  color: inherit;
}
