<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div
        style="display: flex; align-items: center; flex-wrap: wrap; gap: 40px"
      >
        <img
          class="avatar-small"
          src="https://i.pinimg.com/originals/3d/18/11/3d18110bf082552259fbe5432cc391db.png"
          alt=""
        />
        <img
          class="avatar-medium"
          src="https://i.pinimg.com/originals/3d/18/11/3d18110bf082552259fbe5432cc391db.png"
          alt=""
        />
        <img
          class="avatar-large"
          src="https://i.pinimg.com/originals/3d/18/11/3d18110bf082552259fbe5432cc391db.png"
          alt=""
        />
        <img
          class="avatar-xlarge"
          src="https://i.pinimg.com/originals/3d/18/11/3d18110bf082552259fbe5432cc391db.png"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
