<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cards2.css" />
    <title>Cards2</title>
  </head>
  <body>
    <br />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <a href="#" class="notify-badge">&#x274C;</a>
            <!-- <button class="notify-badge">&#x274C;</button> -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <button class="notify-badge">&#x274C;</button>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <button class="notify-badge">&#x274C;</button>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
