<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cards.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>cards</title>
  </head>
  <body>
    <div class="container">
      <div class="heading"></div>
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div>

        <!-- <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div> -->
        <!-- <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div>
        </div> -->
        <!-- <div class="card">
          <div class="card-header">
            <h1>React</h1>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
              neque molestiae eius explicabo mollitia tempore reiciendis, vel,
              sequi.
            </p>
            <a href="#" class="btn">Read more</a>
          </div> -->
      </div>
    </div>

    <!-- Ecommerce card -->
    <div class="cardcontainer">
      <div class="product-card">
        <div class="product-badge">Hot</div>
        <div class="product-tumb">
          <img
            src="https://rukminim1.flixcart.com/image/832/832/kgiaykw0/mobile/3/x/e/apple-iphone-11-mhdc3hn-a-original-imafwqepx5yxwctc.jpeg?q=70"
            alt=""
          />
        </div>
        <div class="product-details">
          <span class="product-catagory">Home Mobiles & Accessories</span>
          <h4><a href="">APPLE iPhone 11 (White, 64 GB)</a></h4>
          <p>
            The new iPhone 12 and iPhone 12 Pro. Buy now. Water resistant.
            Retina display. Wide camera. Privacy built in. Services: No-contact
            free delivery, EMI available, Shop with Specialists.
          </p>
          <div class="product-bottom-details">
            <div class="product-price">
              <small class="unhilighted-color">&#8377;54,900</small
              >&#8377;49,999
            </div>
            <div class="product-links">
              <button class="product-whishlist-heart">
                <i class="fa fa-heart"></i>
              </button>
              <button><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-card">
        <div class="product-badge">Hot</div>
        <div class="product-tumb">
          <img
            src="https://rukminim1.flixcart.com/image/832/832/kgiaykw0/mobile/3/x/e/apple-iphone-11-mhdc3hn-a-original-imafwqepx5yxwctc.jpeg?q=70"
            alt=""
          />
        </div>
        <div class="product-details">
          <span class="product-catagory">Home Mobiles & Accessories</span>
          <h4><a href="">APPLE iPhone 11 (White, 64 GB)</a></h4>
          <p>
            The new iPhone 12 and iPhone 12 Pro. Buy now. Water resistant.
            Retina display. Wide camera. Privacy built in. Services: No-contact
            free delivery, EMI available, Shop with Specialists.
          </p>
          <div class="product-bottom-details">
            <div class="product-price">
              <small class="unhilighted-color">&#8377;54,900</small
              >&#8377;49,999
            </div>
            <div class="product-links">
              <button class="product-whishlist-heart">
                <i class="fa fa-heart"></i>
              </button>
              <button><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-card">
        <div class="product-badge">Hot</div>
        <div class="product-tumb">
          <img
            src="https://rukminim1.flixcart.com/image/832/832/kgiaykw0/mobile/3/x/e/apple-iphone-11-mhdc3hn-a-original-imafwqepx5yxwctc.jpeg?q=70"
            alt=""
          />
        </div>
        <div class="product-details">
          <span class="product-catagory">Home Mobiles & Accessories</span>
          <h4><a href="">APPLE iPhone 11 (White, 64 GB)</a></h4>
          <p>
            The new iPhone 12 and iPhone 12 Pro. Buy now. Water resistant.
            Retina display. Wide camera. Privacy built in. Services: No-contact
            free delivery, EMI available, Shop with Specialists.
          </p>
          <div class="product-bottom-details">
            <div class="product-price">
              <small class="unhilighted-color">&#8377;54,900</small
              >&#8377;49,999
            </div>
            <div class="product-links">
              <button class="product-whishlist-heart">
                <i class="fa fa-heart"></i>
              </button>
              <button><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-card">
        <div class="product-badge">Hot</div>
        <div class="product-tumb">
          <img
            src="https://rukminim1.flixcart.com/image/832/832/kgiaykw0/mobile/3/x/e/apple-iphone-11-mhdc3hn-a-original-imafwqepx5yxwctc.jpeg?q=70"
            alt=""
          />
        </div>
        <div class="product-details">
          <span class="product-catagory">Home Mobiles & Accessories</span>
          <h4><a href="">APPLE iPhone 11 (White, 64 GB)</a></h4>
          <p>
            The new iPhone 12 and iPhone 12 Pro. Buy now. Water resistant.
            Retina display. Wide camera. Privacy built in. Services: No-contact
            free delivery, EMI available, Shop with Specialists.
          </p>
          <div class="product-bottom-details">
            <div class="product-price">
              <small class="unhilighted-color">&#8377;54,900</small
              >&#8377;49,999
            </div>
            <div class="product-links">
              <button class="product-whishlist-heart">
                <i class="fa fa-heart"></i>
              </button>
              <button><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ecommerce card ends -->
  </body>
</html>
