<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="list.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="lists-stacked">
      <ul class="stacked-list-container">
        <li>
          <div class="list-card">
            <div class="person-img">
              <img
                class="person-image"
                src="https://via.placeholder.com/150"
                alt="https://via.placeholder.com/150"
              />
            </div>
            <div class="person-details">
              <label class="person-name">Random Name</label>
              <label class="person-mail">random@mail.com</label>
            </div>
          </div>
        </li>
        <li>
          <div class="list-card">
            <div class="person-img">
              <img
                class="person-image"
                src="https://via.placeholder.com/150"
                alt="https://via.placeholder.com/150"
              />
            </div>
            <div class="person-details">
              <label class="person-name">Random Name</label>
              <label class="person-mail">random@mail.com</label>
            </div>
          </div>
        </li>
        <li>
          <div class="list-card">
            <div class="person-img">
              <img
                class="person-image"
                src="https://via.placeholder.com/150"
                alt="https://via.placeholder.com/150"
              />
            </div>
            <div class="person-details">
              <label class="person-name">Random Name</label>
              <label class="person-mail">random@mail.com</label>
            </div>
          </div>
        </li>
        <li>
          <div class="list-card">
            <div class="person-img">
              <img
                class="person-image"
                src="https://via.placeholder.com/150"
                alt="https://via.placeholder.com/150"
              />
            </div>
            <div class="person-details">
              <label class="person-name">Random Name</label>
              <label class="person-mail">random@mail.com</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br /><br /><br />
    <!-- normal-list-->
    <div class="normal-list normal-list-wrap">
      <ul>
        <li>item&nbsp;1</li>
        <li>item&nbsp;2</li>
        <li>item&nbsp;3</li>
        <li>item&nbsp;4</li>
        <li>item&nbsp;5</li>
        <li>item&nbsp;6</li>
      </ul>
      <ul class="square-bullet">
        <li>item&nbsp;1</li>
        <li>item&nbsp;2</li>
        <li>item&nbsp;3</li>
        <li>item&nbsp;4</li>
        <li>item&nbsp;5</li>
        <li>item&nbsp;6</li>
      </ul>
      <ul class="lower-alpha-bullet">
        <li>item&nbsp;1</li>
        <li>item&nbsp;2</li>
        <li>item&nbsp;3</li>
        <li>item&nbsp;4</li>
        <li>item&nbsp;5</li>
        <li>item&nbsp;6</li>
      </ul>
      <ul class="upper-roman-bullet">
        <li>item&nbsp;1</li>
        <li>item&nbsp;2</li>
        <li>item&nbsp;3</li>
        <li>item&nbsp;4</li>
        <li>item&nbsp;5</li>
        <li>item&nbsp;6</li>
      </ul>
    </div>
    <!-- <br><br><br> -->

    <!-- example card -->
    <!-- <div class="list-card">
            <div class="person-img">
              <img
                class="person-image"
                src="https://via.placeholder.com/150"
                alt="https://via.placeholder.com/150"
              />
            </div>
            <div class="person-details">
              <label class="person-name">Random Name</label>
              <label class="person-mail">random@mail.com</label>
            </div>
          </div>
        </li>
      </ul>
       example card end  -->
    <!--<div class="list-card">
        <div class="person-img">
          <img
            class="person-image"
            src="https://via.placeholder.com/150"
            alt="https://via.placeholder.com/150"
          />
        </div>
        <div class="person-details">
          <label class="person-name">Random Name</label>
          <label class="person-mail">random@mail.com</label>
        </div>
      </div> -->
    <!-- example card end -->
  </body>
</html>
